@import "common/colors";
@import "common/mixin";
@import "common/fonts";
@import "common/typography";
@import "common/ofi";

html,
body {
  height: 100%;
  width: 100%;
  position: relative;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

*:focus {
  outline: none;
}

.container-fluid,
footer {
  overflow: hidden;
}

.container {
  max-width: 1335px;

}

@import "modules/loader";
@import "modules/bollettino";
@import "modules/mav";
@import "modules/riepilogo";
