//official
$verde_7FFF9C: #7FFF9C;

$viola_5A33C5: #5A33C5;
$viola_scuro_171234: #171234;
$viola_chiaro_9C85DC: #9C85DC;

$nero_333333: #333333;

$grigio_666666: #666666;
$grigio_E6E6E6: #E6E6E6;

$bianco_bg_F2F2F2: #F2F2F2;

$rosso_C1272D: #C1272D;



