//choose font from google font
@import url("https://fonts.googleapis.com/css?family=Comfortaa:400,500,700&display=swap");
@import url("https://use.typekit.net/bzd4iqi.css");
//font-family
$fontfamily_SofiaPro: 'sofia-pro', sans-serif;
$fontfamily_Comfortaa: 'Comfortaa', cursive;

//font-weight
$fontweight_light: 300;
$fontweight_regular: 400;
$fontweight_medium: 500;
$fontweight_semibold: 600;
$fontweight_bold: 700;
$fontweight_extra_bold: 800;

//font-size
$font8: 8px;
$font10: 10px;
$font12: 12px;
$font14: 14px;
$font16: 16px;
$font20: 20px;
$font24: 24px;
$font28: 28px;
$font32: 32px;
$font36: 36px;
$font40: 40px;
$font52: 52px;
$font71: 71px;
$font73: 73px;

