@mixin button($background-color, $text-color, $width: 100%, $height:auto) {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 12px;
  background-color: $background-color;
  padding: 10px;
  width: $width;
  height: $height;
  @include text($fontfamily_SofiaPro, $font16, $fontweight_bold, $text-color);
  transition: background-color 500ms linear;

  &:hover {
    background-color: darken($background-color, 25%);
  }
}

/* END UTILS */


/* MEDIA QUERIES
how to use it
@include mq(xs){} or @include mq(245){}
*/
$breakpoints: (xs: 576px,
        sm: 768px,
        md: 992px,
        lg: 1200px,
        xl: 1600px,
        xxl: 1800px);

@mixin mq($breakpoint) {

  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    @media screen and (min-width: $breakpoint-value) {
      @content;
    }

  } @else {
    @media screen and (min-width: $breakpoint + 'px') {
      @content;
    }
  }
}

/* END MEDIA QUERIES */

  