.bg {
  background-color: $grigio_bg_F2F2F2;

  header {
    background-color: $viola_scuro_171234;

    .row {
      height: 65px;
      width: 100%;
      align-items: center;

      .logo_wrapper {
        padding-left: 30px;

        .logo {
          height: 26px;
          width: 88px;
        }
      }
    }
  }

  .progress-bar {
    background-color: $grigio_bg_F2F2F2;
    .progress {
      margin: 30px 0;
      border-radius: 18px;
      height: 60px;
      width: 100%;
      @include text($fontfamily_SofiaPro, $font10, $fontweight_bold, white);
      @include mq(xs) {
        font-size: $font16;
      }

      .compila {
        overflow: visible;
        position: relative;
        background-color: $viola_scuro_171234;

        &:after {
          width: 0;
          height: 0;
          border-top: 30px inset transparent;
          border-bottom: 30px inset transparent;
          border-left: 30px solid $viola_scuro_171234;
          position: absolute;
          content: "";
          top: 0;
          right: -30px;
          z-index: 2;
        }
      }

      .riepilogo {
        overflow: visible;
        position: relative;
        background-color: $viola_5A33C5;
        padding-left: 30px;

        &:after {
          width: 0;
          height: 0;
          border-top: 30px inset transparent;
          border-bottom: 30px inset transparent;
          border-left: 30px solid #5a33c5;
          position: absolute;
          content: "";
          top: 0;
          right: -30px;
          z-index: 2;
        }

      }

      .ricevuta {
        padding-left: 30px;
        background-color: $viola_chiaro_9C85DC;
      }
    }
  }

  .content {
    .col-info {
      padding-bottom: 30px;
      @include mq(sm) {
        padding-top: 50px;
      }

      .wrap-info {
        background-color: $grigio_E6E6E6;
        border-radius: 18px;
        padding: 20px 30px 20px 20px;

        .titolo {
          @include text($fontfamily_SofiaPro, $font20, $fontweight_medium, $viola_5A33C5);
        }

        .testo {
          @include text($fontfamily_SofiaPro, $font16, $fontweight_medium, $nero_333333);
          margin-bottom: 0;
        }
      }
    }

    .col-bollettino {
      padding-bottom: 40px;
      @include mq(sm) {
        padding-top: 20px;
        padding-right: 40px;
      }

      form {
        .titolo {
          @include text($fontfamily_SofiaPro, $font20, $fontweight_medium, $viola_5A33C5);
        }

        label {
          @include text($fontfamily_SofiaPro, $font16, $fontweight_medium, $nero_333333);
          span {
            color: $grigio_666666;
          }
          a {
            color: $viola_5A33C5;
          }
        }

        .separator-dotted {
          border-bottom: 2px dotted $nero_333333;
          margin-bottom: 1.2rem;
          &:not(:last-of-type) {
            padding-top: 10px;
          }
          &:last-of-type {
            margin-bottom: 40px;
          }
        }

        .btn {
          border-radius: 12px;
          background-color: $viola_5A33C5;
          padding: 10px;
          width: 100%;
          height: 100%;
          @include text($fontfamily_SofiaPro, $font16, $fontweight_bold, white);
          transition: background-color 500ms linear;
          &:hover {
            background-color: darken($viola_5A33C5, 25%);
          }
        }

        .custom-switch input:checked + label::before {
          background-color: $viola_5A33C5;
        }

        input:not([type='checkbox']), select {
          border-radius: 12px;
          background-color: $grigio_bg_F2F2F2;
          border-color: $grigio_666666;
        }

        .flex-row {
          align-items: baseline;
        }

        .form-group {
          margin-bottom: 1.5rem;
        }

        .abc-checkbox label {
          padding-left: 12px;
          padding-top: 2px;
          color: $viola_5A33C5;
          &::before {
            width: 25px;
            height: 25px;
          }
          &::after {
            width: 25px;
            height: 25px;
            top: 5px;
            font-size: 17px;
          }

        }
      }
    }

  }
}


